#puzzle_panel {
	height: 400px;
}

#puzzle_panel > * {
	height: 100%;	
}

#puzzle_canvas {
	border: solid black 1px;
	width: 80%;
}

#color_panel {
	display: inline-block;
	width: 10%;
}

.color_swatch {
	display: inline-block;
	width: 20%;
	height: 6%;
	margin: 1px;
}

.color_swatch:hover {
	margin: 0;
	border: solid black 1px;
}

#guess_panel {
	height: 2em;
	margin-top: 10px;
}

#guess_panel > * {
	height: 100%;
}

#guess_input {
	resize: none;
	width: 50%
}

#guess_submit {
	width: 20%;
}
