#puzzle_panel {
	height: 400px;
	overflow: hidden;
	padding-bottom: 10px;
}

#puzzle_panel > * {
	display:inline-block;
	height: 100%;	
}

#puzzle_canvas {
	border: solid black 1px;
}

.score {
	display: inline-block;
	font-family: "Arial Black";
}

#color_panel {
	width: 100%;
	height: 80%;
}

.color_swatch {
	display: inline-block;
	width: 20%;
	height: 6%;
	margin: 1px;
}

.color_swatch:hover {
	margin: 0;
	border: solid black 1px;
}

.selected_swatch {
	margin: 0;
	border: inset black 1px;
}

#guess_panel {
	margin-top: 10px;
	width: 1000px;
}

#guess_panel > * {
	display: inline-block;
	height: 100%;
}

.hidden {
	visibility:  hidden;
}

.correct {
	background-color: green;
}

.incorrect {
	background-color: red;
}
